[submodule "targettracker.analysis"]
	path = targettracker.analysis
	url = git@github.com:pxtimes3/targettracker.analysis.git
[submodule "targettracker.external.git"]
	path = targettracker.external
	url = git@github.com:pxtimes3/targettracker.external.git
